@font-face {
	font-family: "Roboto medium";
	src:url("../fonts/Roboto-Medium.ttf");
	line-height: 22px;
	font-size: 16px;
	font-style: normal;
}
@font-face {
	font-family: "Roboto medium";
	src:url("../fonts/Roboto-MediumItalic.ttf");
	line-height:22px;
	font-style:italic;
	font-size: 16px;
}
@font-face {
	font-family: "Roboto black";
	src:url("../fonts/Roboto-Black.ttf");
	font-size:60px;
	line-height: 60,35px;
	font-style: normal;
}
@font-face {
	font-family: "Roboto black";
	src:url("../fonts/Roboto-BlackItalic.ttf");
	font-size:60px;
	line-height: 60,35px;
	font-style: italic;

}
@font-face {
	font-family: "Roboto bold";
	src:url("../fonts/Roboto-Bold.ttf");
	font-style: normal;
	font-size: 18px;
}
@font-face {
	font-family: "Roboto bold";
	src:url("../fonts/Roboto-BoldItalic.ttf");
	font-style: italic;
	font-size: 18px;
}
img{
  vertical-align: middle;
  max-width:100%;
  height: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.bg-wrapper {
  position: relative;
}
.slider {
  overflow: hidden;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.slider-controls {
  position: absolute;
  top: 570px;
  left: 27px;
}
.slider-wrapper {
  width: 300%;
}
.slide {
  float: left;
  width: 1200px;

}
.slider__input{
	display: none;
}
.slider-controls label {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
#btn-1:checked ~ .bg-wrapper .slider-controls label[for="btn-1"],
#btn-2:checked ~ .bg-wrapper .slider-controls label[for="btn-2"],
#btn-3:checked ~ .bg-wrapper .slider-controls label[for="btn-3"] {
  background-color: #fff;
}
#btn-1:checked ~ .bg-wrapper .slider .slider-wrapper .slide {
	transform:translate(0);
}
#btn-2:checked ~ .bg-wrapper .slider .slider-wrapper .slide {
	transform:translate(-1200px);
}
#btn-3:checked ~ .bg-wrapper .slider .slider-wrapper .slide {
	transform:translate(-2400px);
}

#btn-1:checked ~ .bg-wrapper {
  background-color: #849d8f;
}

#btn-2:checked ~ .bg-wrapper {
  background-color: #8996a6;
}

#btn-3:checked ~ .bg-wrapper {
  background-color: #9d8b84;
}
.slide-text{
	position:relative;
	top:-450px;
}
.slide-text h1{
	font-family: "Roboto Black";
	font-size:60px;
	line-height: 60px;
}
body {
	font-family: "Roboto medium";
	font-size:16px;
	line-height:22px;
	margin:0;
	padding:0;

}
h1 {
	font-family: "Roboto black";
	font:size:60px;
	line-height:60px;
}
h2 {
	font-family: "Roboto bold";
	font-size:35px;
}
.container{
	width:1146px;
	margin:0 auto;
  padding:0 10px;
}
.main-header{
	margin-bottom:35px;
}
.main-navigation{
	float:left;
	width:650px;
}
.main-navigation ul{
  margin:0px;
  padding:4px;
}
.main-navigation ul li{
  display:inline;
  margin-right:10px;
}
.user-block{
	width:270px;
	float:right;
	margin-bottom:20px;
}
.work-hours{
	margin-top:20px;
	float:right;
	width:267px;
	text-align:right;
}
.slider{
	margin-bottom:40px;
}
.slide{
	text-align:center;
	vertical-align: middle;
}
.gifts{
	margin-bottom:25px;
}
.for-free{
	width:560px;
	float:left;
}
.for-free:first-child{
	margin-right:26px;
}
.icecream-wrapper{
	margin-bottom:45px;
	width:1146px;
}
.ice-cream{
	width:267px;
	float:left;
	margin-right:26px;
	margin-bottom:30px;
}
/*.ice-cream:last-child{
	margin-right:0;
}*/
.ice-cream:nth-child(4n){
	margin-right:0;
}
.flag-hit{
}
.about-us{
	/*padding:20px;*/
	width:1146px;
	margin-bottom:40px;
	/*background:yellow;*/
}
.about-header{
	font-family: "Roboto Medium";
	font-size:24px;
	line-height: 30px;
}
.column{
	float:left;
	width:560px;
	margin-right:26px;
}
.column:last-child{
	margin-right:0;
}
.blog-wrapper{
	margin-bottom:40px;
	width:1146px;
}
.map{
	width:1200px;
	margin-bottom:40px;
}
.adress{
	float:right;
	padding-top:70px;
	padding-right:27px;

}
.social-links{
	width:267px;
	float:left;
	background:yellow;
	margin-right:26px;
	min-height:10px;
}
.footer-links{
	width:560px;
	margin-right:26px;
	float:left;
}
.footer-column{
	float:left;
}
.footer-column:first-child{
	margin-right:23px;
}
.made-by{
	width:267px;
	float:left;
}


/*Тут начинается каталог */
.breadcrumps{
	float:left;
	margin-top:-60px;

}
.breadcrumps ul{
	margin:0;
	padding:4px;
}
.breadcrumps ul>li{
	display:inline;
	margin-right:10px;

}
.form-wrapper{
	width:879px;
	margin-bottom:35px;
}
.options-container{
	float:left;
	min-width:200px;
	margin-right:15px;
}
.icecream-wrapper{
	width:1146px;
	margin-bottom:85px;
}
.paginator{
	width:267px;
	float:right;
}
